<html>
<head><title></title></head>

<body>

<h1>Erikson Cookbook Database</h1>
    <label>Search</label>
    <textarea></textarea>
<h3>Current Mealplan List for the Week of {{date}}</h3>

<div id="Buttoms">
    <form action="/addrecipe">
        <input type="submit" value="Add Recipe" />
    </form>
    <form action="/random">
        <input type="submit" value="Randomizer" />
    </form>
    <form action="/list">
        <input type="submit" value="Recipe List" />
    </form>
</div>
</body>
</html>
