<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Recipe List</title>
    {% load static %} <!-- Instruct Django to load static files -->
    <link rel="stylesheet" type="text/css" href="{% static 'site.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'list.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/addrecipe">Add Recipe</a>
        <a href="/random">Meal Planner</a>
        <a class="active" href="/list">Recipe List</a>
        <div class="search-container">
            <form>
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    <h1>Erikson Cookbook Database</h1>
    <h2>List of Recipes</h2>

    <ul>
        <li><a href="/list">Recipe 1</li>
        <li><a href="/list">Recipe 2</li>
        <li><a href="/list">Recipe 3</li>
    </ul>
</body>
</html>