<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Recipe List</title>
</head>
<body>
    <h1>Erikson Cookbook Database</h1>
    <label>Search</label>
    <textarea></textarea>
    <h2>List of Recipes</h2>

    <ul>
        <li>Recipe 1</li>
        <li>Recipe 2</li>
        <li>Recipe 3</li>
    </ul>
    <div id="Buttoms">
        <form action="/">
            <input type="submit" value="Return Home" />
        </form>
    </div>
</body>
</html>