<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Random Recipe Generator</title>
    {% load static %} <!-- Instruct Django to load static files -->
    <link rel="stylesheet" type="text/css" href="{% static 'site.css' %}" />
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/addrecipe">Add Recipe</a>
        <a class="active" href="/random">Meal Planner</a>
        <a href="/list">Recipe List</a>
        <div class="search-container">
            <form action="/action_page.php">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    <h1>Erikson Cookbook Database</h1>

    <div id="checkbox">
        <form>
            <input type="checkbox" id="recipe1" name="recipe1" value="recipe1">
            <label for="recipe1">recipe1</label><br>
            <input type="checkbox" id="recipe2" name="recipe2" value="recipe2">
            <label for="recipe2">recipe2</label><br>
            <input type="checkbox" id="recipe3" name="recipe3" value="recipe3">
            <label for="recipe3">recipe3</label><br>
            <input type="checkbox" id="recipe4" name="recipe4" value="recipe4">
            <label for="recipe4">recipe4</label><br>
            <input type="checkbox" id="recipe5" name="recipe5" value="recipe5">
            <label for="recipe5">recipe5</label><br>
            <input type="checkbox" id="recipe6" name="recipe6" value="recipe6">
            <label for="recipe6">recipe6</label><br>
            <input type="checkbox" id="recipe7" name="recipe7" value="recipe7">
            <label for="recipe7">recipe7</label><br>
            <input type="submit" value="Submit">
        </form>
    </div>

</body>
</html>