<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Random Recipe Generator</title>
    {% load static %} <!-- Instruct Django to load static files -->
    <link rel="stylesheet" type="text/css" href="{% static 'site.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'list.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/addrecipe">Add Recipe</a>
        <a class="active" href="/random">Meal Planner</a>
        <a href="/list">Recipe List</a>
        <div class="search-container">
            <form>
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    <h1>Erikson Cookbook Database</h1>

    <form>
        <label class="checkboxlist">
            <a href="/list">Recipe 1</a>
            <input type="checkbox" id="recipe1" name="recipe1" value="checked">
            <span class="checkmark"></span>
        </label>
        <label class="checkboxlist">
            <a href="/list">Recipe 2</a>
            <input type="checkbox" id="recipe2" name="recipe2" value="checked">
            <span class="checkmark"></span>
        </label>
        <label class="checkboxlist">
            <a href="/list">Recipe 3</a>
            <input type="checkbox" id="recipe3" name="recipe3" value="checked">
            <span class="checkmark"></span>
        </label>
        <label class="checkboxlist">
            <a href="/list">Recipe 4</a>
            <input type="checkbox" id="recipe4" name="recipe4" value="checked">
            <span class="checkmark"></span>
        </label>
        <label class="checkboxlist">
            <a href="/list">Recipe 5</a>
            <input type="checkbox" id="recipe5" name="recipe5" value="checked">
            <span class="checkmark"></span>
        </label>
        <label class="checkboxlist">
            <a href="/list">Recipe 6</a>
            <input type="checkbox" id="recipe6" name="recipe6" value="checked">
            <span class="checkmark"></span>
        </label>
        <label class="checkboxlist">
            <a href="/list">Recipe 7</a>
            <input type="checkbox" id="recipe7" name="recipe7" value="checked">
            <span class="checkmark"></span>
        </label>
        <input type="submit" value="Submit">
    </form>
    


</body>
</html>