<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Random Recipe Generator</title>
</head>
<body>
    <h1>Erikson Cookbook Database</h1>
    <label>Search</label>
    <textarea></textarea>

    <div id="checkbox">
        <form>
            <input type="checkbox" id="recipe1" name="recipe1" value="recipe1">
            <label for="recipe1">recipe1</label><br>
            <input type="checkbox" id="recipe2" name="recipe2" value="recipe2">
            <label for="recipe2">recipe2</label><br>
            <input type="checkbox" id="recipe3" name="recipe3" value="recipe3">
            <label for="recipe3">recipe3</label><br>
            <input type="checkbox" id="recipe4" name="recipe4" value="recipe4">
            <label for="recipe4">recipe4</label><br>
            <input type="checkbox" id="recipe5" name="recipe5" value="recipe5">
            <label for="recipe5">recipe5</label><br>
            <input type="checkbox" id="recipe6" name="recipe6" value="recipe6">
            <label for="recipe6">recipe6</label><br>
            <input type="checkbox" id="recipe7" name="recipe7" value="recipe7">
            <label for="recipe7">recipe7</label><br>
            <input type="submit" value="Submit">
        </form>
    </div>

    <div id="Buttoms">
        <form action="/">
            <input type="submit" value="Return Home" />
        </form>
    </div>
</body>
</html>